@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}


header{
    width: 100%;
    height: 70px;
    /* border-bottom: 2px solid #058197; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(78, 2, 255, 0.4) 0px 2px 4px, rgba(38, 0, 255, 0.3) 0px 7px 13px -3px, rgba(0, 4, 255, 0.2) 0px -3px 0px inset;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.log{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForm{
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
input{
    width: 100%;
    height: 30px;
    padding: 5px;
}

.send{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 80%;
    background-color: #6027ff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

button:hover{
    cursor: pointer;
    transition: 0.6s;
    transform: translateY(-3px);
}